@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 105vw;
}
.tube{
    margin: 0px -30px;
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.658);
    text-align: center;
    text-decoration: none;
}
.tube:hover{
    text-decoration:underline;
}
.inverse{
    margin: -10px -30px;
    display: block;
    background-color: rgba(255, 255, 255, 0.993);
    color: rgba(0, 0, 0, 0.644);
    text-align: center;
    text-decoration: none;
}
.ineverse:hover{
    text-decoration: underline;
}