@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
}
main{
    position: relative;
    height: 95vh;
}
#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 550px;
    width: 273px;
    border-radius: 50px;
    background-color: rgba(0, 0, 255, 0);
    margin: auto;
}
#home{
    position: relative;
    top: 70px;
    left: 21px;
    width: 230px;
    height: 415px;
}
section#social img{
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.397);
}
#social{
    text-align: right;
}
section#social img:hover{
    border: 3px solid rgba(255, 255, 255, 0.575);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transition-duration: transform 0.3s,border 1s;
}
